/* Kolory:

Nagłówki: #ff0303
Tekst Zwykły: #ffd9d9
Podświetlenia: #ffd9d9
Nav/Footer: #7a0000
Tło: #141414
Tło jaśniejsze: #2e2e2e

*/

/* Elementy Strony */

html, body {
	background-color: #2e2e2e;
	color: #ffd9d9;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin: 0px;

}

h1 {
	color: #ff0303;
}

/* Stopka */

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	left: 0;
	right: 0;
	background-color: #242424;
	text-align: center;
	vertical-align: center;
	height: 60px;
}

/* Nagłówek */

.navbar {
  overflow: hidden;
  background-color: #7a0000;
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 9999;
  width: 3000px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ffd9d9;
  color: black;
}

/* Panel Boczny */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #141414;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #ffd9d9;
  padding: 16px;
  text-decoration: none;
}

.logout {
	float: right;
}
 
.sidebar a.active {
  background-color: #ff0303;
  color: black;
  font-weight: bold;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  margin-top: 50px;
  box-shadow: inset 0px 8px 40px -6px rgba(0, 0, 0, 0.82);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Komunikat */

.komunikat {
  background-color: #ffd9d9;
  border-left: 6px solid #ff0303;
  color: black;
  height: 30px;
  vertical-align: center;
}

/* Widgety */

.column {
  float: left;
  width: 33.33%;
  padding: 10px 10px;
  height: 300px;
  border-radius: 25px;
  border: 2px solid #ff0303;
  padding: 10px;
  background-color: #141414;
  margin: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}




